In [1]:
from my_secrets import Token
import requests
import pandas as pd
from IPython.display import display

In [7]:
base_url = f"https://www.ncdc.noaa.gov/cdo-web/api/v2"
def get_df(endpoint):
	offset=0
	response = requests.get(f"{base_url}/{endpoint}&limit=1000&offset={offset}",headers = {"token":Token})

	try:
		r = response.json()['results']
		return pd.DataFrame(r)
	except:
		return response

In [8]:
endpoints = [
	'datasets','datacategories','datatypes','locationcategories','locations','stations','data',
	'locations?locationcategoryid=CITY'
	]
endpoint_dfs = {e:get_df(e) for e in endpoints}

In [9]:
i = -1
print(endpoints[i])
endpoint_dfs[endpoints[i]]

locations?locationcategoryid=CITY

        mindate     maxdate           name  datacoverage             id
0    1983-01-01  2022-01-28  Abu Dhabi, AE        0.9977  CITY:AE000001
1    1944-03-01  2022-01-28      Ajman, AE        0.9992  CITY:AE000002
2    1944-03-01  2022-01-28      Dubai, AE        0.9992  CITY:AE000003
3    1944-03-01  2022-01-28    Sharjah, AE        0.9992  CITY:AE000006
4    1966-03-02  2021-08-30      Kabul, AF        0.9969  CITY:AF000007
..          ...         ...            ...           ...            ...
995  1963-03-01  2022-01-28       Kars, TU        0.9160  CITY:TU000030
996  1930-01-01  2022-01-28  Kastamonu, TU        1.0000  CITY:TU000031
997  1963-01-01  2022-01-28   Kirsehir, TU        0.9992  CITY:TU000034
998  1950-01-02  2022-01-28      Konya, TU        0.9233  CITY:TU000036
999  2003-03-01  2022-01-28    Kutahya, TU        1.0000  CITY:TU000037

[1000 rows x 5 columns]